<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Offline Storage
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button fill="solid" color="danger" [hidden]="!networkStatus.ONLINE === false" shape="circle"></ion-button>
      <ion-button fill="solid" color="success" [hidden]="!networkStatus.ONLINE === true"></ion-button>
    
      <ion-button fill="solid" color="dark" routerLink="/addcompany">Add Company</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor=" let company of companies">
    <ion-label>
      <strong>
        <h1> {{company.companyName}} </h1>
      </strong>
      <p> {{company.headquater}} </p>
      <p> {{company.headcount}} </p>
      <p> {{company.ceo}} </p>
    </ion-label>

    <ion-buttons slot="">
      <ion-button color="success" fill="solid" [routerLink]="['/','addcompany',company.id]">Update</ion-button>
      <ion-button color="light" fill="solid" (click)="onDelete(company.id)">Delete</ion-button>
    </ion-buttons>
  </ion-item>

</ion-content>