<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Offline Storage
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button fill="solid" color="danger" [hidden]="!networkStatus.ONLINE === false">Offline</ion-button>
      <ion-button fill="solid" color="success" [hidden]="!networkStatus.ONLINE === true">Online</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor=" let company of companies" [routerLink]="['/','addcompany',company.id]">
    <ion-label>
      <strong>
        <h1> {{company.companyName}} </h1>
      </strong>
      <p> {{company.headquater}} </p>
      <p> {{company.headcount}} </p>
      <p> {{company.ceo}} </p>
    </ion-label>
  </ion-item>

</ion-content>